
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --background: transparent;
  margin-bottom: 8px;
}

ion-label {
  font-weight: 500;
  color: var(--ion-color-dark);
}

ion-input, ion-select, ion-datetime {
  --padding-start: 12px;
  --padding-end: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-top: 15px;
}

.form-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

::ng-deep .custom-modal-class {
  --width: 90%;
  --max-width: 500px;
  --border-radius: 12px;
  --height: auto;
}

ion-modal {
  --height: auto; /* Make sure it only takes the required height */
  --width: 90%;
  --max-width: 500px;
  --border-radius: 12px;
  --padding-top: 0 !important; /* Remove unwanted space */
}

ion-content {
  --padding-top: 0 !important;
  --padding-bottom: 0 !important;
  --padding-start: 0 !important;
  --padding-end: 0 !important;
}


.form-container {
  max-width: 500px;
  margin: 0 auto;  /* Center it without adding extra spacing */
  padding: 16px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-height: fit-content;
}


.remove-top-padding {
  --padding-top: 0px !important;
}

inner-scroll {
  left: -11px;
  right: 0;
  top: 0 !important;
  bottom: 0 !important;
  padding-inline-start: var(--padding-start, 0);
  padding-inline-end: var(--padding-end, 0);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  position: absolute;
  color: var(--color);
  box-sizing: border-box;
  overflow: hidden;
  touch-action: pan-x pan-y pinch-zoom;
}

