.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px; /* Adjust spacing between items */
}
.search-container {
  flex: 3; /* Makes the search bar take more space */
  min-width: 300px;
}

.category-dropdown {
  flex: 1; /* Reduces the width of the category dropdown */
  max-width: 150px;
}

.charts-container {
  flex: 1; /* Takes less space */
  display: flex;
  flex-direction: column; /* Stacks Pie and Line Chart */
  gap: 20px;
}

.chart-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

::ng-deep .custom-modal-class {
  --width: 90%;
  --max-width: 500px;
  --border-radius: 12px;
  --height: auto;
}